.wrapper{
    background-color: #fff;
    min-height: 609px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*|--- -- ------ -- ---|*/
/*|--- -- HEADER -- ---|*/
/*|--- -- ------ -- ---|*/

.header{
    display: flex;
    align-items: center;
    height: 81px;
    padding: 12px 20px;
    margin: 5px 5px 0;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: linear-gradient(to right, #39124b, #5c068c 75%);
}

.header__img{
    width: 200px;
}

/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/

.box{
    width: 400px;
    height: auto;
    margin: 30px auto 0;
    border-radius: 10px; 
    color: #7d8b92;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .3);
}

.box__top{
    padding: 20px;
    margin: 4px 0 8px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #5c068c;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form__element{
    display: flex;
    flex-direction: column;
}

.form__lbl{
    font-size: 16px;
    margin-bottom: 2px;
}

.form__input{
    font-size: 16px;
    min-height: 38px;
    padding: 6px 12px;
    border-radius: .25rem;
    color: #7d8b92;
    border: 1px solid #ced4da;
    outline: none;
}

.form__input--select{
    padding: 6px 28px 6px 12px;
}

.form__btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__btn{
    min-height: 40px;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5c068c;
    border: none;
}

.form__btn--clr{
    background-color: #8D8D8D;
}

@media screen and (max-width: 1169px) {
    .header{
        height: 49px;
    }

    .header__img{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .box{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .header{
        margin: 0;
        height: 25px;
    }
}