*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*|--- -- ---- -- ---|*/
/*|--- -- MAIN -- ---|*/
/*|--- -- ---- -- ---|*/

.main{
    width: 100%;
    background: url(/assets/img/bancos/MORGAN-COLOMBIA/background-mobile.jpg) fixed center no-repeat transparent;
    background-size: cover;
}

.main__content{
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
}

.main__header{
    position: relative;
    max-width: 100%;
    padding: 52px 0 24px 24px;
    fill: #ffffff;
}

.main__aside{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.form{
    width: 576px;
    max-width: 100%;
    padding: 24px;
}

.form__ttl{
    margin-top: 40px;
    margin-bottom: 16px;
    font-weight: 400;
}

.form__sub{
    padding-top: 24px;
    font-size: 17px;
}

.form__element{
    position: relative;
    max-width: 174px;
    margin-top: 20px;
}

.form__lbl{
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 11px;
    overflow: hidden;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #B4B7BE;
}

.form__input{
    width: 100%;
    height: 44px;
    background-color: #242526;
    border: none;
    border-bottom: 1px solid #B4B7BE;
    outline: none;
}

.form__login{
    padding-top: 30px;
}

.form__btn{
    min-width: 125px;
    min-height: 40px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background: #155C93;
    border: none;
}

.form__arrow{
    margin-left: 4px;
}

.form__options{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-top: 4px;
}

.form__options span{
    display: block;
    width: max-content;
    padding: 20px 8px;
}

.form__yes{
    width: 82%;
    padding: 14px 0 8px;
    font-size: 14px;
    border-top: 1px solid rgba(116, 119, 127, 0.85);
}

.form__yes strong,
.form__no strong{
    margin-left: 10px;
    font-size: 14.5px;
    font-weight: 600;
}

.form__no{
    width: 352px;
    padding-top: 8px;
    font-size: 14px;
}

.main__footer{
    position: relative;
    max-width: 100%;
    padding: 0 24px;
    margin-top: 50px;
}

.footer__top{
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    margin-bottom: 8px;
    padding-right: 8px;
}

.footer__op{
    padding: 0 4px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}

.footer__bot{
    padding: 0 40px 32px 20px;
    font-size: 11px;
    color: #C5C9D0;
}

@media screen and (max-width: 959px) {
    .jss19{
        display: none;
    }

    .main__content{
        background-color: rgba(36, 37, 38, 0.85);
    }
}

@media screen and (max-width: 599px) {
    .form__options{
        align-items: center;
        flex-direction: column;
    }

    .form__yes{
        border: none;
    }
}

@media (min-width: 960px) {
    .jss19 {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
    }

    .main{
        background-image: url(/assets/img/bancos/MORGAN-COLOMBIA/background-tablet.jpg);
    }

    .main__header,
    .main__aside,
    .main__footer{
        max-width: 75%;
    }
}

@media (min-width: 1280px) {
    .jss19 {
        width: 60%;
    }

    .main {
        background-image: url(/assets/img/bancos/MORGAN-COLOMBIA/background-desktop.jpg);
    }

    .main__header,
    .main__aside,
    .main__footer{
        max-width: 50%;
    }
}
