.main{
    margin-top: 90px;
    padding: 0 8px;
}

.main__top{
    display: flex;
    align-items: start;
}

.main__img{
    margin-top: 16px;
    margin-bottom: 16px;
}

.main__user{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px 16px 0;
}

.main__txt{
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #999999e1;
}

.main__sep{
    height: 10px;
}

.main__txt--name{
    font-family: serif;
}

.main__small{
    font-size: 14px;
    text-align: center;
    color: #8a8a8a;
}

.main__small--bold{
    font-weight: 600;
}

.main__small--short{
    font-size: 13px;
}

.main__bild{
    padding: 8px 0 24px;
    text-align: center;
}

.main__button{
    display: flex;
    width: 96%;
    margin: 30px auto 0;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #019df4;
    cursor: pointer;
}

.pay__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pay{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 4px 2px 2px 2px; */
}

.pay:last-child{
    padding-bottom: 0px;
    border-bottom: 2px solid #0A2738;
}

.pay__box{
    display: flex;
    align-items: center;
}

.pay__check{
    cursor: pointer;
}

.pay__txt{
    padding-left: 6px;
    font-size: 13px;
    color: #0a2738c4;
    font-weight: 500;
}

.pay:last-child .pay__txt{
    color: #0a2738;
    font-weight: 600;
}

.pay__box .bi{
    padding: 16px 4px;
    cursor: pointer;
}

.main__submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin-top: 25px;
}

.main__btn{
    padding: 6px 40px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #0A2738;
    background-color: #0A2738;
}

.main__btn--trp{
    color: #0A2738;
    background-color: #fff;
}

.main__msj{
    font-size: 14px;
    border: 1px solid #d3d4d3;
    padding: 8px 22px;
    margin: 16px 0;
    border-radius: 6px;
    font-family: telefonicaregular, sans-serif;
}

.method-pay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px 0 8px;
}

.method-pay__txt{
    margin-top: 10px;
    padding: 8px 0 16px;
    font-size: 12px;
    font-weight: 500;
}